.header {
    font-size: 0.8rem;    
}

.tab {
    padding-left: 1rem;
}

.tab-title {
    display: inline-block;
    width: 5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    background-color: #ddd;
    color: white;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: all 0.28s ease-in-out 0s;
}

.tab-title.active {
    background-color: lightblue;
    color: white;
}