.todos-item {
    position: relative;
    padding: 1rem 0.5rem;
    font-size: 2rem;
    transition: all 0.28s ease-in-out 0s;
}

.todos-item:hover {
    background-color: #888;
    color: white;
}

.todos-item-txt.completed {
    color: #ddd;
    text-decoration: line-through;
    transition: color 0.28s ease-in-out 0s;
}